/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@600&display=swap');

/* Wildcard selector to override default browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting default styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Assistant', sans-serif;
}

/* Default header fonts */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main {
    /* Make main content take up extra space - push footer down */
    flex: 1 0 auto;
    /* Make content visible by pushing it below the header */
    margin-top: 43.5px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #ffffff
}

/* Used to hide elements i.e. unwanted headings*/
.hidden {
    display: none;
}

/* Removing default hyperlink styling to navigation links */
.internal-link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.current {
    font-size: larger;
}

#navigation {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    text-decoration: none;
}

#logo {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

#page-header {
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
}

/* Nav toggle, adapted from Code Institute's "Love Running" project */

nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    padding-bottom: 10px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#heroimage {
    height: 600px;
    width: 100%;
    background: url('../images/johny-goerend-pnigODapPek-unsplash.jpg') no-repeat center/cover;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
}

#herotext {
    color: antiquewhite;
    background-color: rgba(71, 108, 70, 0.8);
    bottom: 10px;
    position: absolute;
    height: 275px;
    font-size: xx-large;
    width: 90%;
    padding-left: 10px;
    padding: 5px;
}

#herotext h2 {
    font-weight: 600;
    padding-bottom: 5px;
}