/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@600&display=swap');

/* Wildcard selector to override default browser styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting default styling */
body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Assistant', sans-serif;
}

/* Default header fonts */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Nav toggle, adapted from Code Institute's "Love Running" project */

nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    padding-bottom: 10px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* ID selector below styles navigation bar drop down menu - keeping at top of stylesheet near nav selectors */
#navigation {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    text-decoration: none;
}

/* ID selector below styles navigation bar drop down list - keeping at top of style sheet near nav selector */
#navigation li {
    font-size: 110%;
    padding-top: 10px;
}

main {
    /* Make main content take up extra space - push footer down */
    flex: 1 0 auto;
    /* Make content visible by pushing it below the header */
    margin-top: 58.5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

/* Prevents textarea input from being resized on contactus.html */
textarea {
    resize: none;
}

footer {
    height: 90px;
    background-color: rgba(71, 108, 70, 1);
    color: antiquewhite;
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

/* Styling social media icons from Font Awesome */
.fa-brands {
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}

/* Styling flex content on index.html */
.flexcontent {
    display: flex;
    flex-direction: column;
    font-size: larger;
    text-align: center;
}

/* Styling form class */
.form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: center;
    font-size: larger;
}

/* Styling form labels */
.formlabel {
    padding-top: 5px;
    font-size: 20px
}

/* Set background image for contactus.html */
.contactformimage {
    background: url(../images/compressed-contactusimage.webp) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

/* Styles the div containing form on contactus.html */
.contactformbox {
    background-color: rgba(71, 108, 70, 0.8);
    color: antiquewhite;
    margin: 20px;
    height: auto;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
}

.contactformbox p {
    display: flex;
    justify-content: flex-start;
}

.googlemap {
    height: auto;
    width: auto;
}

/* Styles the submit button on signup.html and contactus.html */
.submitbutton {
    color: antiquewhite;
    background-color: rgba(71, 108, 70, 0.8);
    margin-top: 10px;
    padding: 5px;
    width: 25vw;
    font-weight: bolder;
}

/* Sets blog div to display contents in a column */
.blog {
    margin: 25px auto;
}

/* Removes hyperlink styling and sets uniform size to images */
.blogimg {
    text-decoration: none;
    max-height: 313px;
    max-width: 313px;
    margin-bottom: 50px;
}

.blogpost {
    height: auto;
    width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(71, 108, 70, 0.8);
    color: antiquewhite;
    padding: 10px;
    margin-bottom: 25px;
}

/* Styling text box in blog link images */
.blogtitletext {
    height: fit-content;
    background-color: rgba(71, 108, 70, 0.8);
    color: antiquewhite;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.blogtitletext h3 {
    font-size: smaller;
}

/* Styling images and setting image filepaths */
.blog1 {
    background: url(../images/blogimages/didimikrakhuna.webp) no-repeat center/cover;
    height: 350px;
    width: 100%;
    max-width: 350px;
}

.blog2 {
    background: url(../images/blogimages/vinaterosbravos.webp) no-repeat bottom/cover;
    height: 350px;
    width: 100%;
    max-width: 350px;
}

.blog3 {
    background: url(../images/blogimages/nuitd.webp) no-repeat bottom/cover;
    height: 350px;
    width: 100%;
    max-width: 350px;
}

.blog4 {
    background: url(../images/blogimages/raiz.webp) no-repeat bottom/cover;
    height: 350px;
    width: 100%;
    max-width: 350px;
}

.blogdiv {
    display: inline-block;
    position: relative;
}
/* Setting image dimensions */
.blogphoto {
    display: block;
    object-fit: cover;
    height: 500px;
    width: 100vw;
}
/*Styling title/image caption for blog post */
.blogtitlebox {
    background-color: rgba(71, 108, 70, 0.8);
    color: antiquewhite;
    height: fit-content;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    transform: translateY(-150%);
    margin: -10% 10%;
    text-align: center;
}

/* KEEP THIS styling blog text content */
.blogtext {
    margin: 25px auto;
    width: 85vw;
}

/* Setting background image of signup.html */
.signupimage {
    background: url(../images/compressed-signup-bgimage.webp) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}

/* Styles the div containing form on signup.html */
.signupbox {
    background-color: rgba(71, 108, 70, 0.8);
    color: antiquewhite;
    margin: 20px;
    height: auto;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    border-radius: 3%;
    padding: 30px;
    padding-bottom: 25px;
    margin-bottom: 10%;
}

/* Set styles for newsletter preference checkboxes on signup.html */
.newsprefs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Set styles for newsletter frequency radio buttons on signup.html */
.signupprefs {
    display: flex;
    flex-direction: row;
}

/* Styles the footer across all pages */
#copyright {
    text-align: center;
}

/* Styles social media links, displaus in a row with even space between them */
#social-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 2px;
    justify-content: space-evenly;
}

/* Used to hide elements i.e. unwanted headings*/
.hidden {
    display: none;
}

/* Removing default hyperlink styling to navigation links */
.internal-link {
    text-decoration: none;
    color: black;
    margin: 10px;
    list-style-type: none;
}

/* Styles h1 link in header */
#logo {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 110%;
}

#page-header {
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    padding-top: 5px;
}

#heroimage {
    height: 400px;
    width: 100%;
    background: url('../images/compressed-heroimage.webp') no-repeat center/cover;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
}

#herotext {
    color: antiquewhite;
    background-color: rgba(71, 108, 70, 0.8);
    bottom: 10px;
    position: absolute;
    height: 275px;
    font-size: xx-large;
    width: 90%;
    padding-left: 10px;
    padding: 5px;
}

#herotext h2 {
    font-weight: 600;
    padding-bottom: 5px;
}

/* Centres text in Call to Action (Newsletter signup box) */
#cta {
    margin: 20px;
    text-align: center;
}

/* Setting styling in Call to Action */
#cta a {
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    color: inherit;
}

/* Setting font of <p> elements in Call to Action box*/
#cta p {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: larger;
}

#bloglink {
    background: url(../images/calltoactionimage-tankilevitch.webp) no-repeat center/cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    font-size: xx-large;
    justify-content: center;
}

/* Removes link styling */
.imglink {
    text-decoration: none;
    color: inherit;
}

/* Media query for mobile devices in landscape mode */
@media screen and (min-width: 667px) {
    .posts {
        column-count: 2;
    }
}

/* Media query for tablets and larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /* Makes content visible on larger screens, pushes it further down screen*/
    main {
        margin-top: 68.5px;
    }

    /* Makes use of extra screen space in footer */
    footer {
        display: flex;
        padding: 20px;
        flex-direction: row;
        align-items: baseline;
    }

    /* Display content in a row rather than column */
    .flexcontent {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .ctabox {
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-grow: 1;
    }

    /* Displaying blog posts in columns of two on blog.html */
    .blog {
        column-count: 2;
    }

    /* Increasing font size of blog article subtitle on image, and setting 20px margin */
    .blogtext {
        margin: 40px;
        font-size: 110%;
    }


    .blogphoto {
        width: 50vw;
        height: 100vh;
    }

    /* Displaying address and telephone vertically in column */
    .contactinfo {
        display: flex;
        flex-direction: column;
    }

    /* Setting map iframe to the right of contact info */
    .contactformbox {
        flex-direction: row;
    }

    /* Bringing sign up form to top of screen so user does not need to scroll down page */
    .signupbox {
        overflow-y: auto;
    }

    /* Increasing size of title text */

    /* Placing text to the right of image on larger displays */
    #blog {
        display: flex;
        flex-direction: row;
    }

    /* Setting width and height of blog image link on index.html and repositioning image */
    #bloglink {
        width: 463px;
        height: 15em;
        background-position: top;
    }

    /* Setting font size of text in Call to Action (newsletter signup link) element of homepage*/
    #cta a {
        font-size: xx-large;
    }

    /* Setting font size of text in Call to Action (newsletter signup link) element of homepage */
    #cta p {
        font-size: xx-large;
    }

    /* Loads higher resolution image on larger screens */
    #heroimage {
        height: 600px;
        width: 100%;
        background: url('../images/heroimage.webp') no-repeat top/cover;
        position: relative;
        margin: 0;
        margin-bottom: 0;
    }

    /* Increasing text size on hero image and resizing green box*/
    #herotext {
        font-size: 2rem;
        height: 200px;
        width: fit-content;
    }

    /* Removing hamburger menu on larger screens */
    #navigation {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Media query for laptop screens and larger */
@media screen and (min-width: 992px) {

    /* Prevents larger header from covering main content */
    main {
        margin-top: 114px;
    }

    /* Displays footer content in a row on larger screens, change footer to white for improved contrast with call to action/blog image */
    footer {
        display: flex;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        font-size: 125%;
        color: rgba(71, 108, 70, 1);
        background-color: #FFFFFF;
    }

    /* Styling Font Awesome social media icons, increasing size and change colour to green for contrast against white footer */
    .fa-brands {
        color: rgba(71, 108, 70, 1);
        font-size: 125%;
    }

    /* Moves nav links underneath header */
    #page-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Creates tiled display on larger screens, with .flexcontent class divs next to hero image */
    .laptopdisplay {
        display: flex;
        flex-direction: row;
    }

    /* Display call to action (Newsletter signup) box and blog image one above the other */
    .flexcontent {
        flex-direction: column;
    }

    /* Changes colour of Call to Action box to improve contrast against header */
    .ctabox {
        color: antiquewhite;
        background-color: rgba(71, 108, 70, 1);
    }

    /* Loads higher resolution image and puts contact form to left of page */
    .contactformimage {
        background: url(../images/contactusimage.webp) no-repeat right/cover;
        justify-content: flex-start;
        height: 625px;
        flex-direction: row;
    }

    /* Making space between contact details and Google maps iframe */
    .contactinfo {
        padding-right: 5vw;
    }

    /* Sets appropriate form width for laptop screens */
    .contactformbox {
        height: 50vh;
        width: fit-content;
        padding: 25px;
    }

    /* Prevents form inputs from overlapping outside of .contactformbox */
    .form {
        width: 25vw;
    }

    /* Loads higher resolution image on larger screens, and pushes div to flex-start */
    .signupimage {
        background: url(../images/signup-bgimage.webp) no-repeat center/cover;
        flex-direction: row;
        justify-content: flex-start;
        height: 90vh;
    }

    .signupbox {
        margin-top: 10vh;
        width: fit-content;
        padding: 50px;
    }

    /* Alternating colours to highlight to user that they are hovering over the submit button */
    .submitbutton:hover {
        background-color: antiquewhite;
        color: rgba(71, 108, 70, 1);
    }

    .blogpost {
        margin: 0;
    }

    .posts {
        display: block;
        max-width: fit-content;
        max-height: fit-content;
        column-count: auto;
    }

    /* Displays blog links horizontally on larger screens */
    .blog {
        column-count: 4;
    }

    .blogtitletext:hover {
        text-decoration: underline;
    }

    .blogphoto {
        height: 80vh;
        width: 50vw;
    }

    .blogtitlebox {
        font-size: 120%;
    }

    /* Increases VinVivant logo text on larger screens */
    #logo {
        font-size: 125%;
    }

    /* Displays content of Call to Action box in the centre */
    #cta {
        display: flex;
        flex-direction: column;
        transform: translateY(50px);
    }

    /* Resizes image to reduce wasted screen space */
    #bloglink {
        height: 347px;
        background-position: center;
    }

    /* Resizes hero image to take up extra space */
    #heroimage {
        height: 647px;
    }

    /* Adds responsiveness, shows user which link is being hovered over */
    #navigation li:hover {
        font-weight: bold;
    }
}

/* Media query for largest screens */
@media screen and (min-width: 1400px) {

    /* Makes hero image take up full width of screen on largest screens, with call to action/blog image below */
    .laptopdisplay {
        flex-direction: column;
    }

    /* Displaying call to action (newsletter signup) box and blog image side by side */
    .flexcontent {
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
    }

    .blogtext {
        margin: 30px;
        font-size: 110%;
    }

    .blogtitlebox {
        font-size: 150%;
        top: 200px;
        left: 5%;
    }
    /* Increases size of call to action box and changes colour to improve contrast against header/footer */
    .ctabox {
        width: 50vw;
        max-width: fit-content;
        height: 347px;
        background-color: rgba(71, 108, 70, 1);
    }

    /* Increase width of call to action box and changes text colour from green to white, making text readable */
    #cta {
        width: 50vw;
        color: antiquewhite;
        justify-content: center;
        transform: translateY(0);
    }

    /* Makes blog link image take up 50% of viewport width on larger screen */
    #bloglink {
        width: 50vw;
        /* Repositioning image to improve contrast between image and text */
        background-position-y: 60%;
    }

    /* Extending width of hero image and putting title box in center */
    #heroimage {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Centres hero text and increases size*/
    #herotext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
        font-size: 2.5rem;
        margin-bottom: 5%;
        padding: 50px;
    }
}
